  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.floor{
    display: flex;
}
  .lift{
    border: 1px solid #000;
    height: 80px;
    width: 100px;
  }
  .floor-no{
    width: 50px;
  }
  button{
    width: 90px;
  }
  .call{
    background-color: green;
    margin-left: 10px;
    margin-top: 20px;
    height: 32px;
    border: none;
    color: white;
  }
  .waiting{
    background-color: red;
    margin-left: 10px;
    margin-top: 20px;
    height: 32px;
    border: none;
    color: white;
  }
  .arrived{
   color: white;
    margin-left: 10px;
    margin-top: 20px;
    height: 32px;
    border: none;
  }
  .lift img{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .floor-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-lift{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
  }
 /* .fill-red{
  fill: red;
 }
 .fill-green{
  fill: green;
 }
 .fill-orange{
  fill: orange;
 } */