  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.floor{
    display: flex;
}
.lift {
  border: 1px solid #e1dddd;
  height: 88px;
  width: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .floor-no{
    width: 76px;
    font-size: 23px;
  }
  button{
    width: 166px;
  }
  .call{
    background-color: green;
    margin-left: 10px;
    margin-top: 20px;
    height: 59px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 25px;
  }
  .waiting{
    background-color: red;
    margin-left: 10px;
    margin-top: 20px;
    height: 32px;
    border: none;
    color: white;
  }
  .arrived{
   color: white;
    margin-left: 10px;
    margin-top: 20px;
    height: 32px;
    border: none;
  }
  .lift img{
    height: 58px;
    width: 58px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .floor-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-lift{
    width: 57px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
  }
 /* .fill-red{
  fill: red;
 }
 .fill-green{
  fill: green;
 }
 .fill-orange{
  fill: orange;
 } */
 #travel-time-display {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.lift-timer{
  display: flex;
  justify-content: center;
  align-items: center;
  
}